{% extends "layout.twig" %}
{% block content %}

<div id="wrap">
	<nav class="bk-nav" id="nav">
		{{widget('extendednavigation', 'navigationheader', {})|raw}}
        {{widget('profile', 'socialicons', {"profileType":"socialicons"})|raw}}
	</nav>
	<div role="main" id="main">
		<header class="bk-header">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</header>
		<div class="contain" id="contain">
				{{zone('main')|raw}}
		</div><!--end contain-->
		{% include 'includes/footer.twig' %}
	</div><!--end main-->
</div><!--end wrap-->

{% endblock %}