{% extends "layout.twig" %}
{% block content %}

<div id="wrap">
	<div class="bk-pt-home">
		<nav class="bk-nav" id="nav">
			{{widget('extendednavigation', 'navigationheader', {})|raw}}
        	{{widget('profile', 'socialicons', {"profileType":"socialicons"})|raw}}
		</nav>
		<div role="main" id="main">
				{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true, 'align':'justifycenter'})|raw}}
			<header class="bk-header">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</header>
			<div class="contain" id="contain">
				{{zone('main')|raw}}
			</div><!--end contain-->
		{% include 'includes/footer.twig' %}
		</div><!--end main-->
	</div><!--end bk-pt-home-->
</div><!--end wrap-->

{% endblock %}